{% extends "base.html" %}

{% load static %}

{% block title %} Browse Articles {% endblock %}


{% block content %}
    <div class="row mb-3">
        {% if user.is_authenticated %}
            <h2>Welcome {{ user.username }}</h2>
        {% endif %}
    </div>

    <!--List of Articles-->
    <div class="row mb-5">
        <div class="col-md-12">
            <h3>List of Articles</h3>

            <div class="art-table">
                <!--Delete, edit, view links/buttons-->
                <table class="art-table-inner table table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Poster</th>
                        <th>Posted</th>
                        <th></th>
                        <th></th>
                    </tr>  
                    
                    {% for article in articles %}
                        <tr data-id="{{article.id}}">
                            <td class="tab-title"><a href="#" class="view-btn" data-id="{{article.id}}" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{ article.title }}</a></td>                            
                            <td class="tab-thumb d-none">{{ article.thumb }}</a></td>
                     
                            <td class="tab-content d-none">{{ article.content }}</a></td>

                            <td class="tab-poster">{{ article.poster }}</td>
                            <td class="tab-posted">{{ article.posted}}</td>
                            <td><a href="#" class="edit-btn" data-id="{{article.id}}">Edit</a></td>
                            <td><a href="#" class="delete-btn" data-id="{{article.id}}">Delete</a></td>
                        </tr>  
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>


    <!--Forms-->
    <div class="row mb-5 edit-form card p-3 d-none">
        <div class="col-md-12">
            <h3>Edit an Existing Article</h3>

            <form id="edit-form" method="post">
                {% csrf_token %}
                <input type="text" name="edit-id" id="edit-id" hidden>

                <label for="art-title" class="form-label">Title:</label>
                <input type="text" id="edit-title" name="edit-title" class="form-control" required><br><br>
                
                <label for="art-thumb" class="form-label">Thumbnail:</label>
                <input type="text" id="edit-thumb" name="edit-thumb" class="form-control"><br><br>

                
                <label for="art-content" class="form-label">Content:</label><br>
                <textarea type="text" id="edit-content" name="edit-content" class="form-control"></textarea><br><br>
                
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary cancel-edit">Cancel</button>
            </form>
        </div>
    </div>

    <div class="row mb-5 card p-3">
        <div class="col-md-12">
            <h3>Add a New Article</h3>

            <form id="art-form" method="post">
                {% csrf_token %}
                <label for="art-title" class="form-label">Title:</label>
                <input type="text" id="art-title" name="art-title" class="form-control" required><br><br>
                
                <label for="art-thumb" class="form-label">Thumbnail:</label>
                <input type="text" id="art-thumb" name="art-thumb" class="form-control"><br><br>

                
                <label for="art-content" class="form-label">Content:</label><br>
                <textarea type="text" id="art-content" name="art-content" class="form-control"></textarea><br><br>
                
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="thumbnail text-center mb-3">
                    <img src="" alt="">
                </div>

                <div class="content mb-3">

                </div>

                <h4>Comments</h4>
                <div class="comments mb-3">

                </div>

                <form id="comment-form" class="card p-3" method="post">
                    {% csrf_token %}
                    <input type="text" name="comment-id" id="comment-id" hidden>
                    
                    <label for="comment-content" class="form-label">Add Comment:</label><br>
                    <textarea type="text" id="comment-content" name="comment-content" class="form-control"></textarea><br><br>
                    
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script>
        base_url = "{{ base_url }}"

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        
        $(document).ready(function(){
            $('body').on('click', 'a.view-btn', function(e) {
                e.preventDefault();
                e.stopPropagation();

                articleId = $(this).attr("data-id");

                // Populate Modal
                $.ajax({
                    url: base_url + "api/articles/"+articleId+"/get/", 
                    async: false,
                    type: 'GET',
                    success: function(data) {
                        console.log(data)
                        if (data.status == "success") {
                            comments = data.comments;

                            $('.modal .modal-title').html(data.title);

                            $('.modal .thumbnail img').attr('src', data.thumbnail);
                            
                            $('.modal .content').html(data.content);

                            $('.modal #comment-id').val(data.id);

                            $('.modal .comments').empty();

                            if (comments.length > 0) {
                                for (var i=0; i < comments.length; i++) {
                                    $('.modal .comments').append(`
                                        <div class="comment card p-3 mb-2">
                                            <div class="commenter">
                                                <strong>${comments[i]['poster']}</strong>
                                            </div>
                                            <div class="content">
                                                ${comments[i]['content']}
                                            </div>
                                        </div>
                                    `);
                                }
                            } else {
                                $('.modal .comments').append('<div class="no-comm">No comments yet</div>')
                            }

                        }
                    }
                });
            });
            
            $('body').on('click', 'a.edit-btn', function(e) {
                e.preventDefault();
                e.stopPropagation();

                articleId = $(this).attr("data-id");
                row = $('tr[data-id='+articleId+']')

                // Populate edit form and show
                form = $('#edit-form')

                form.find('#edit-id').val(articleId);

                form.find('#edit-title').val(row.find('.tab-title').text())

                form.find('#edit-thumb').val(row.find('.tab-thumb').html())

                form.find('#edit-content').val(row.find('.tab-content').html())


                $('.edit-form').removeClass('d-none');
                $('.edit-form').addClass('d-block');
            });
            
            $('body').on('click', '.cancel-edit', function(e) {
                $('.edit-form').addClass('d-none');
                $('.edit-form').removeClass('d-block');
            });
            
            $('body').on('click', 'a.delete-btn', function(e) {
                e.preventDefault();
                e.stopPropagation();

                articleId = $(this).attr("data-id");

                // Send Ajax call to delete, and remove row from table
                $.ajax({
                    url: base_url + "api/articles/"+articleId+"/remove/", 
                    async: false,
                    type: 'GET',
                    success: function(data) {
                        if (data.status == "success") {
                          $('tr[data-id='+data.id+']').remove();
                        }
                    }
                });
            });

            $('body').on('submit', '#art-form', function(e) {
                e.preventDefault();
                e.stopPropagation();

                // Send ajax call to add, then add row to table
                $.post(base_url + "/api/articles/add/", {
                    title: $('#art-title').val(),
                    thumbnail: $('#art-thumb').val(),
                    content: $('#art-content').val(),
                },
                function(data) {
                    if (data.status == "success") {
                        article = data.article;

                        $('.art-table-inner tbody').append(`
                            <tr data-id="${article.id}">
                                <td class="tab-title"><a href="#" class="view-btn" data-id="${article.id}" data-bs-toggle="modal" data-bs-target="#staticBackdrop">${article.title}</a></td>                            
                                <td class="tab-thumb d-none">${article.thumb}</a></td>
                        
                                <td class="tab-content d-none">${article.content}</a></td>

                                <td class="tab-poster">${article.poster}</td>
                                <td class="tab-posted">${article.posted}</td>
                                <td><a href="#" class="edit-btn" data-id="${article.id}">Edit</a></td>
                                <td><a href="#" class="delete-btn" data-id="${article.id}">Delete</a></td>
                            </tr>
                        `);
                    } 
                });

            });

            $('body').on('submit', '#edit-form', function(e) {
                e.preventDefault();
                e.stopPropagation();

                articleId = $('#edit-id').val();

                // Send ajax call to edit, then edit row in table
                $.post(base_url + "/api/articles/"+articleId+"/edit/", {
                    title: $('#edit-title').val(),
                    thumbnail: $('#edit-thumb').val(),
                    content: $('#edit-content').val(),
                },
                function(data) {
                    if (data.status == "success") {
                        article = data.article;

                        row = $('tr[data-id="'+article['id']+'"]');

                        row.find('.tab-title a').text(article['title']);

                        row.find('.tab-thumb').html(article['thumb']);
        
                        row.find('.tab-content').html(article['content']);

                        row.find('.tab-poster').html(article['poster']);

                        
                        $('.edit-form').addClass('d-none');
                        $('.edit-form').removeClass('d-block');
                    } 
                });
            });

            $('body').on('submit', '#comment-form', function(e) {
                e.preventDefault();
                e.stopPropagation();

                articleId = $('#comment-id').val()
                
                // Send ajax call to add, then add new comment
                $.post(base_url + "/api/articles/"+articleId+"/comments/add/", {
                    content: $('#comment-content').val(),
                },
                function(data) {
                    if (data.status == "success") {
                        comment = data.comment;

                        $('.no-comm').remove();

                        $('.modal .comments').append(`
                            <div class="comment card p-3 mb-2">
                                <div class="commenter">
                                    <strong>${comment['poster']}</strong>
                                </div>
                                <div class="content">
                                    ${comment['content']}
                                </div>
                            </div>
                        `);
                    } 
                });

            });
        });
    </script>
{% endblock %}